@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background-color: #19A1AE;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-size: 622px 622px, 623px 623px;
    background-repeat: no-repeat;
    background-position: calc(50% - 21rem) calc(86vh - 59rem), 
                         calc(50% + 18rem) calc(50vh + 1rem);
                         
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
    }
    
    input, button, textarea, select {
      font: inherit;
    }

.main-content {
    max-width: 20.375rem;
    background-image: url(./images/bg-pattern-card.svg);
    background-size: auto 140px;
    background-repeat: no-repeat;

    border-radius: 15px;;
    padding-top: calc(8.75rem - 3.25rem);
    text-align: center;
    background-color: #FFFFFF;
}

.profile-picture {
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
}

.profile-card h1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #2E3349;
}

.age {
    color: #6B7082;
    font-weight: 400;
    margin-left: 0.5938rem;
}

.city {
    color: #6B7082;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: block;
}

.city::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid #E8E9EC;
    position: relative;
    top: 1.75rem;
}

.social {
    list-style: none;
    display: flex;
    padding: 1.5rem 3.25rem 1.5rem 2.5625rem;
}

ul .likes {
    margin-left: 2.375rem;
    margin-right: 2.875rem;
}

li {
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.followers span:first-child,
 .likes span:first-child,
 .photos span:first-child {
    font-size: 1.125rem;
    font-weight: 700;
    color: #2E3349;
}

.followers span:last-child,
 .likes span:last-child,
 .photos span:last-child {
    font-size: 0.625rem;
    letter-spacing: 0.125rem;
}

@media only screen and (min-width: 1000px) {
    .main-content {
        max-width: initial;
        width: 350px;
    }
}



